<!-- <div class="container">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between start" fxLayoutAlign.lt-md="start stretch">
        <div fxFlex="30"  fxFlex.sm="25" fxFlex.xs="20"  fxFlexFill class="" class="overflow-auto">
            <app-sidebar></app-sidebar>
        </div>
        <div fxFlex="70"  fxFlex.md="75" fxFlex.xs="80"  fxFlexFill class="overflow-auto">
            <div class="m-3 mr-3" *ngIf="(selectedMenuGroup$  | async); let selectedMenuGroup">
                <div class="h1 font-weight-bolder m-4" style="text-align: center;">
                    {{selectedMenuGroup.label}}
                </div>
                <div class="h3 font-weight-bolder m-4" style="text-align: center;"
                    *ngIf="selectedMenuGroup && selectedMenuGroup.subTitle">
                    {{selectedMenuGroup.subTitle}}
                </div>
                <mat-grid-list [gridCols]="{xs: 1, sm: 2, md: 2, lg: 3, xl: 4}" rowHeight="1:1">
                    <mat-grid-tile *ngFor="let item of selectedMenuGroup.menuItems" [routerLink]="['product', item.name]">
                        <img src="{{'assets//images/mcDonalds/' + item.image}}">
                        <mat-grid-tile-footer>
                            {{item.label}}
                        </mat-grid-tile-footer>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </div>
    </div>
</div> -->

<div class="m-3 mr-3" *ngIf="(selectedMenuGroup$  | async); let selectedMenuGroup">
    <div class="h1 font-weight-bolder m-4" style="text-align: center;">
        {{selectedMenuGroup.label}}
    </div>
    <div class="h3 font-weight-bolder m-4" style="text-align: center;"
        *ngIf="selectedMenuGroup && selectedMenuGroup.subTitle">
        {{selectedMenuGroup.subTitle}}
    </div>
    <mat-grid-list [gridCols]="{xs: 1, sm: 2, md: 2, lg: 3, xl: 4}" colHeight="3:2" rowHeight="3:2">
        <mat-grid-tile *ngFor="let item of selectedMenuGroup.menuItems" [routerLink]="['product', item.name]">
            <img src="{{'assets//images/mcDonalds/' + item.image}}">
            <mat-grid-tile-footer>
                {{item.label}}
            </mat-grid-tile-footer>
        </mat-grid-tile>
    </mat-grid-list>
</div>

<!-- <div class="m-3 mr-3" *ngIf="(selectedMenuGroup$  | async); let selectedMenuGroup" >
    <div class="h1 font-weight-bolder m-4" style="text-align: center;">
        {{selectedMenuGroup.label}}
    </div>
    <div class="h3 font-weight-bolder m-4" style="text-align: center;"
        *ngIf="selectedMenuGroup && selectedMenuGroup.subTitle">
        {{selectedMenuGroup.subTitle}}
    </div>
    <mat-grid-list [gridCols]="{xs: 1, sm: 2, md: 2, lg: 3, xl: 4}" rowHeight="1:1">
        <mat-grid-tile *ngFor="let item of selectedMenuGroup.menuItems" [routerLink]="['product', item.name]">
            <img src="{{'assets//images/mcDonalds/' + item.image}}">
            <mat-grid-tile-footer>
                {{item.label}}
            </mat-grid-tile-footer>
        </mat-grid-tile>
    </mat-grid-list>
</div> -->
