<div class="content" fxLayout="colum" fxLayoutAlign="start strech" fxFlexFill 
    style="background-image: url('../../../../../assets/images/hero-bg6.jpg');">
    <div fxFlex="100" >
        <div class="content" fxLayout="column" fxFlexFill>
            <div fxFlex="25" fxFlex.xs="10" fxLayoutAlign="start end" >
                <img style="width: 100%;" src="../../../../../assets/images/shape-top2.png">
            </div>
            <div fxFlex="50"  fxFlex.xs="80"  class="sec2" style="height:50vh; background-color: #ffffff; 
            background-image: url('../../../../../assets/images/testimonial_pattern-min.png');">
                 <router-outlet></router-outlet>
            </div>
            <div fxFlex="25"  fxFlex.xs="10"  class="sec3" fxLayoutAlign="start start" >
                <img style="width: 100%;" style="width: 100%;" src="../../../../../assets/images/shape-top1.png">
            </div>
    
        </div>
    </div>
</div>