
  <!-- <mat-grid-list  [gridCols]="{xs: 1, sm: 2, md: 3, lg: 4, xl: 5}"  rowHeight="100vh" [style.background]="'red'">
    <mat-grid-tile colspan="4">
      <div>
        <app-side-nav>
          <div main-content>
            <router-outlet></router-outlet>
          </div>
        </app-side-nav>
        
      </div>
    </mat-grid-tile>
  </mat-grid-list> -->
  <!-- <div class="content" fxLayout="row wrap">
    <div fxFlex="25%" *ngFor="let num of [1,2,3,4,5,6,7]">
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Mountains {{num}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="./../assets/images/mountains.jpg" />
        <mat-card-content>
          <p>The Himalayas is a mountain range in Asia.</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button> <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div> -->

<div fxLayout="column" fxFlexFill class="overflow-hidden">
  <div fxFlex="100" class=" {{(this.isDarkTheme | async) ? 'dark-':''}}{{theme | async}}" >
    <router-outlet></router-outlet>
  </div>
</div>
